html,body,#root {height:100%;margin:unset;}
body {
  background-color: #121212;
  overflow: hidden;
}

@font-face {
  font-family: "Santa Catarina";
  src: url("../public/Santa Catarina.ttf");
  font-style: normal;
  font-weight: bold;
}